{% if init_db is not none %}
{% for db_names,dbs in init_db.items() %}
{{db_names}} username:{{dbs.user}}
{{db_names}} password:{{dbs.password}}
{% endfor %}
{% endif %}
{% if application_database_user is not none %}
---For {{ application_name }} Installation Wizard---

database hostname:{{application_database_host | default('localhost',true)}}
database name:{{application_name}}
database username:{{application_database_user}}
database password:{{application_database_password}}

{% endif %}
{% if application_account is not none %}
---For {{ application_name }} Username&Password ---

{{ application_name }} Username: {{application_default_account}}
{{ application_name }} Password: {{application_default_password}}
{% endif %}