---
#引入PHP运行环境元数据，并初始化

- include_vars: roles/role_php-fpm/vars/php_runtime_meta.yml

- set_fact: discuz_webs="{{wordpress_webs}}"

#Create var for this playbook
- set_fact:
    discuz_vhost_dir: php_runtime_meta.[ansible_distribution].[discuz_webs].vhost_dir
    discuz_vhost_src: php_runtime_meta.[ansible_distribution].[discuz_webs].vhost_src
    discuz_service: php_runtime_meta.[ansible_distribution].[discuz_webs].service
    discuz_owner: php_runtime_meta.[ansible_distribution].[discuz_webs].owner
    discuz_db_password: "{{mysql_root_password}}"


- debug:
    msg: runtime {{ discuz_vhost_dir }}, {{discuz_vhost_src}}, {{discuz_service}}, {{discuz_owner}}, {{discuz_webs}}, {{ansible_distribution}}

#Install Start
- debug:
    msg: Discuz will be installed on {{ ansible_distribution }} 

# 9panel
- name: Enable 9panel I
  lineinfile:
    path: /data/apps/9panel/js/websoft9.js
    regexp: 'var set_apps=\["Example"\];'
    line: 'var set_apps=["WordPress","Discuz"];'

# Discuz!X3.4
- name: Remove example dir
  file:
    path: /data/wwwroot/www.example.com
    state: absent

- name: Create discuz directory
  file:
    path: /data/wwwroot/discuz
    state: directory

- name: Download Discuz!X3.4
  git:
    repo: https://gitee.com/ComsenzDiscuz/DiscuzX.git
    dest: /data/wwwroot/discuz
    version: "{{discuz_version}}"

- name: copy discuz config
  template: src=config_global_default.php dest=/data/wwwroot/discuz/upload/config/config_global_default.php

# 系统通用
- name: Permission directory
  shell: find /data/wwwroot -type d -exec chmod 750 {} \;
  
- name: Permission file
  shell: find /data/wwwroot -not -type d -exec chmod 640 {} \;

# 根据不同的基础环境分别处理

- block:
  - name: change owner&group for Apache
    shell: chown -R {{discuz_owner}}:{{discuz_owner}} /data/wwwroot

  - name: Copy Apache or Nginx vhost configuration
    template: src={{discuz_vhost_src}} dest={{discuz_vhost_dir}}
    
  - name: restart Apache or Nginx
    service: name={{discuz_service}} state=restarted enabled=yes